.message{data: {id: message.id }}
  .upper-info
    .upper-info__talker
      = message.user.name
    %p.upper-info__date
      = message.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S")
  .lower-info
    - if message.content.present?
      %p.lower-info__text
        = message.content
    = image_tag message.image.url, class: 'lower-info__image' if message.image.present?