.chat-side {
  width: 300px;
  color: $white;
  float: left;
  a {
    color: $white;
  }
  .side-header {
    background-color: $side_blue_dark;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__box {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      &__user-name {
        font-size: 16px;
        font-weight: bold;
      }
      &__menu {
        display: flex;
        @include lists();
        &__icon {
          margin-left: 0.3rem;
          text-decoration: none;
          .fa {
            display: inline-block;
          }
        }
      }
    }
  }
  .groups {
    height: calc(100vh - 100px);
    padding: 0 20px;
    background-color: $side_blue_light;
    overflow: scroll;
    a {
      text-decoration: none;
      .group {
        padding: 20px 0 40px;
        color: $white;
        &__name {
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__latest-message {
          font-size: 11px;
        }
      }
    }
  }
}