@import "reset";
@import "variable";
@import "flash-box";
@import "chat-side";
@import "chat-main";
@import "form";
@import "font-awesome";

* {
  box-sizing: border-box;
}

html {
  color: #000;
  background-color: #fff;
}