@import "font-awesome";
@import "config/variable";
@import "config/reset";
@import "config/colors";
@import "modules/chat-main";
@import "modules/chat-side";
@import "modules/form";
@import "modules/user";
@import "modules/flash";
@import "modules/group";

* {
  box-sizing: border-box;
}

html {
  color: #000;
  background-color: #fff;
}